body {
    background-color: lightgrey;
}

.cover-container {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.row-fluid {
    background-color: lightgrey;
}

.col-md {
    background-color: lightgrey;
}

.container-fluid {
    background-color: lightgrey;
}

.col-6 {
    background-color: lightgrey;
    height: 100vh;
}

.col-3 {
    background-color: rgb(169, 169, 173);
    height: 100vh;
}

.col {
    background-color: lightgrey;
}

h3 {
    font-size: large;
    font-weight: 700;
}

img {
    border-radius: 8px;
}

.square {
    height: 40px;
    width: 40px;
    background-color: #555;
    border-radius: 8px;
    display: inline-block;
}